[submodule "shop-api"]
	path = shop-api
	url = git@github.com:caVenikk/shop-api.git
[submodule "shop-webapp"]
	path = shop-webapp
	url = git@github.com:caVenikk/shop-webapp.git
[submodule "shop-bot"]
	path = shop-bot
	url = git@github.com:caVenikk/shop-bot.git
